VITE_KEYCLOAK_URL=http://localhost:8085 # Keycloak server URL
VITE_KEYCLOAK_REALM=MyRealm # Keycloak realm name
VITE_KEYCLOAK_CLIENT_ID=my-client # Keycloak client ID
VITE_KEYCLOAK_LOGOUT_REDIRECT_URL=http://localhost:3000 # URL to redirect to after logout

VITE_API_BASE_URL=http://localhost:3001 # Base URL for the API server

DOCKER_EXPOSED_PORT=3000 # Port to expose the application on when running in Docker